@use '../../styles/global' as *;
@use '../../styles/mixins' as *;

.leaderboard{
    width: 90%;
    margin: auto;
    &__table{
        margin: 1rem auto;
        width: 70%;
        @include tablet{
            width: 40%;
        }
    }
    &__position{
        font-weight: 700;
    }
    &__name{
        max-width: 70%;
        min-width: 40%;
    }
    // &__score{
        
        // }
    }
tr:nth-child(even){
    background-color: #f0f2f0;
}