@use '../../styles/global.scss' as*;
@use '../../styles/mixins.scss' as*;
@use '../../styles/fonts' as*;

// .logo{
//     stroke: #bf4d00;
//     fill: #36454f;
//     fill: hotpink;
// }
.hero{
    overflow: hidden;
    &__carouselImg{
        max-height: 60vh;
        width: auto;
    }

}
.welcome{
    color: #36454f;
}
.playGameBtn{
    border:2px solid #36454f;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: #36454f;
    font-weight: 700;
    font-size: 1rem;
    @include tablet{
        margin: 1rem 0;
    }
    &:hover{
        background: linear-gradient(164deg, rgba(122,115,168,1) 24%, rgba(143,182,167,1) 81%);        
        // background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
        box-shadow: 0 0 20px #eee;
        transition: 0.5s;
        // background-position: right center; /* change the direction of the change here */
                 
        // .btn-grad {
        //     margin: 10px;
        //     padding: 15px 45px;
        //     text-align: center;
        //     text-transform: uppercase;
        //     background-size: 200% auto;
        //     color: white;            
        //     border-radius: 10px;
        //     display: block;
        //   }

        //   .btn-grad:hover {
        //     color: #fff;
        //     text-decoration: none;
        //   }
         
        // background-color: #6e7f80;
        color: #f0f2f2;
        border: 2px solid #f0f2f2;

    }
}
.aboutGame{
    margin: 1rem;
    @include tablet{
        width: 70%;
        margin: auto;
        padding: 1rem 0;
    }
    @include desktop{
        width: 60%;
        padding: 2rem 0;
    }

}