@use '../../styles/global' as *;
@use '../../styles/mixins' as *;

.scene{
    overflow: hidden;
    &__background{
        height: 50%;
        max-width: 100%;
        @include tablet{
            height: 30%;
        }
    }
}

.storyOptions{
    &__option{
        padding: 1rem;
    }
}