@use '../../styles/global' as *;
@use '../../styles/mixins' as *;

.footerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    color: #36454f;
    flex-direction: column;
    border-top: 1px solid #708090;
    @include tablet{
        flex-direction: row;
        border-top: none;
    }

    &__logo{
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0.5rem 0;
       
    }

    &__listItems{
        //@include desktop{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // gap: 1rem;
            text-decoration: none;
            list-style: none;
        //}
    }
    &__item{
        text-transform: uppercase;
        font-weight: 700;
    }
    &__email{
        text-decoration: none;
        color: #36454f;
        &:hover{
            color: #708090;
        }
    }
}
.footerCopyright{
    font-size: 0.8rem;
}