@use '../../styles/global' as *;
@use '../../styles/mixins' as *;

.addComment{
    &__form{
        margin: 2rem 1rem;
        @include tablet{
            width: 60%;
            margin: auto;
        }
    }
    &__formWrapper{
        display: flex;
        flex-direction: column;
        align-items:flex-start;

    }
    &__formLabel{
        font-weight: 700;
        text-transform: uppercase;
    }
    &__boxLabel, &__nameLabel{
        font-weight: 700;
    }
    &__commentName{
        width: 100%;
        padding: 0.6rem;
    }
    &__commentBox{
        font-family: inherit;
        width: 100%;
        padding: 0.6rem;
        line-height: 3rem;
    }
    &__btn{
        border: 2px solid;
        border-radius: 5px;
        margin: 0.5rem 0;
        padding: 0.7rem 1.5rem;
        font-weight: 700;
        &:hover{
            background-color: #6e7f80;
            color: #f0f2f2;
            border: 2px solid #f0f2f2;
        }
    }
}
.displayComments{
    padding: 2rem 0;
    margin: 0 1rem;
        @include tablet{
            width: 70%;
            margin: auto;
        }
    &__sectionHeading{
        text-transform: uppercase;
    }

    &__container{
        margin: 1rem auto;
        gap: 1rem;
        @include desktop{
            width: 100%;
            margin: auto;
        }
    }
    &__addComment{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 2px solid #e1e1e1;
        
        @include tablet{
            margin: auto;
            width: 100%;
            
        }
    }
}
.comment{
    &__displayed{
        padding: 1rem;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }
    &__name{
        font-weight: 700;
        font-size: 1rem;
    }
    &__deleteBtn{
        padding: 0.7rem;
        background-color: #fff;
        border-radius: 5px;
        border: none;
         &:hover{
            border: 2px solid red;
         }
    }
}